<%- include('../partials/head') %> 

<body>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('../partials/navbar') %> 

        <!-- Page Content  -->
        <div id="content" class="p-2 p-md-4">

            <%- include('../partials/smallview-import') %> 


            <div class='container-fluid p-1 p-md-4'>

                <%- include('../partials/top') %> 

                <div class='row mt-2'>
                    <h4 class='landing-section-header'>ABOUT ME</h4>
                    <div class='landing-section-info'>
                        <p>Howdy! I'm Hunter Baker, a senior undergraduate Computer Engineering major seeking a
                            full-time career in Texas.</p>
                        <p>I am self-driven and reliable, striving to achieve tough goals in fast-paced collaborative
                            environments. I am focused on exceeding expectations with a dedicated work ethic.</p>
                        <p>I believe that I will be a great addition to any professional team because not only am I passionate about the work, but the people who make it possible. Maintaining a positive attitude in the face of adversity is what has gotten me where I am today. The quality in a leader that I most aspire to emulate in both my personal and professional lives every day is the ability to inspire peers and collaborators through servant leadership.</p>  
                    </div>
                </div>

                <div class='row mt-2'>
                    <h4 class='landing-section-header'>SPECIALIZATIONS</h4>
                    <div class='landing-section-info'>
                        <ul>
                            <li>Software Engineering</li>
                            <li>Operating Systems</li>
                            <li>DevOps</li>
                            <li>Computer Architecture</li>
                        </ul>
                    </div>
                </div>
                <div class='row mt-2'>
                    <h4 class='landing-section-header'>ACHIEVEMENTS</h4>
                    <div class='landing-section-info'>
                        <ul>
                            <li>TAMUhack 2020 Hardware Hack Award</li>
                            <li>Dean's List</li>
                            <li>Eagle Scout + 6 Additional Eagle Palms</li>
                            <li>Two-time Destination Imagination state champion</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>

</html>