<%- include('../partials/head') %> 

<body>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('../partials/navbar') %> 

        <!-- Page Content  -->
        <div id="content" class="p-2 p-md-4">

            <%- include('../partials/smallview-import') %> 

            <div class='container-fluid p-1 p-md-4'>

                <%- include('../partials/top') %> 
                
                <div class='row'>
                    
                    <div class='col-12 col-md-7'>
                        <div class='row'>
                            <h1>Qualifications</h1>
                        </div>
                        
                        <div class='row'>

                            <div class='col languages'>
                                <h4>Proficient Languages and Tools</h4>
                                <p class='languages-row'><span class='languages-subcategory'>OOP</span>C++, C, Java</p>
                                <p class='languages-row'><span class='languages-subcategory'>Back-end</span>SQL, Ruby on Rails, Node.JS, PHP</p>
                                <p class='languages-row'><span class='languages-subcategory'>Front-end</span>Javascript, HTML, CSS</p>
                                <p class='languages-row'><span class='languages-subcategory'>Data</span>Python, R, Matlab</p>
                                <p class='languages-row'><span class='languages-subcategory'>DevOps</span>Git, Jira, Docker</p>
                                <p class='languages-row'><span class='languages-subcategory'>Low-level</span>x86 Assembly, ARM Assembly, Scheme</p>
                                <p class='languages-row'><span class='languages-subcategory'>Simulation</span>Verilog, Multisim, Cadence, Fusion 360</p>
                                <p class='languages-row'><span class='languages-subcategory'>Other</span>Linux, Arduino, Unity</p>
                            </div>
                            <div class='col courses'>
                                <h4>Upper-level Courses</h4>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 483</span>Computer Systems Design (Capstone)</p>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 431</span>Programming Languages</p>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 483</span>Computer System Design</p>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 410</span>Operating Systems</p>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 462</span>Microcomputer Systems</p>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 313</span>Intro to Computer Systems</p>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 315</span>Programming Studio</p>
                                <p class='courses-row'><span class='courses-subcategory'>ECEN 454</span>Digital Integrated Circuit Desgin</p>
                                <p class='courses-row'><span class='courses-subcategory'>ECEN 350</span>Computer Architecture&Design</p>
                                <p class='courses-row'><span class='courses-subcategory'>CSCE 314</span>Programming Languages</p>
                                <p class='courses-row'><span class='courses-subcategory'>MATH 470</span>Communications&Cryptography</p>
                                <p class='courses-row'><span class='courses-subcategory'>ECEN 325</span>Electronics</p>
                                <p class='courses-row'><span class='courses-subcategory'>ECEN 314</span>Signals and Systems</p>
                                <p class='courses-row'><span class='courses-subcategory'>ECEN 248</span>Digital Systems Design</p>
                            </div>
                        </div>

                    </div>
                    <div class='col-12 col-md-5'>
                        <div class='resume-holder'>
                            <iframe class='resume-iframe' src="https://drive.google.com/viewerng/viewer?embedded=true&amp;url=https://people.tamu.edu/~hbake/resume.pdf#toolbar=0&amp;scrollbar=0" frameborder="0" scrolling="auto" height="100%" width="100%"></iframe>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>

</html>