<div class='row-9 w-100'>
<h1 id='content-name'>Hunter Baker </h1>
</div>
<div class='row-9 border-bottom border-secondary'>
<h4 id='tamu'>Texas A&M University <span id='major'>B.S. Computer Engineering, minor in Mathematics (Graduating May 2022)</span></h4>
</div>